<% provide :title, "Manage music" %>

<h1>Manage music</h1>

<%= button_to "New album", new_album_path, method: 'get', class: "btn btn-large btn-primary" %>

<% if @albums.any? %>
	
	<ul class="albums">
		<% @albums.each do |album| %>
			<%= render "manage_album", album: album %>
		<% end %>
	</ul>

<% else %>

	No albums found.

<% end %>