<% if @pictures.any? %>

<div class="container">

	<div class="gallery-preview">
		<ul class="picture-preview">
			<% @pictures.each do |picture| %>
				<%= render 'pictures/picture_thumb', picture: picture %>
			<% end %>
		</ul>
	</div>

	<h2 class="gallery-view-link"><%= link_to "View gallery >", gallery_path %></h2>

</div>

<% end %>