<% provide :title, "Manage Gallery" %>

<div class="container">

<%= link_to "Add a picture", new_picture_path, method: 'get', class: "btn btn-large btn-primary" %>

<% if @pictures.any? %>
	
	<ul class="gallery">
		<% @pictures.each do |picture| %>
			<%= render "manage_picture", picture: picture %>
		<% end %>
	</ul>

<% else %>

	No pictures found.

<% end %>

</div>