@import "typography.scss";

/* Albums */

.albums li {
  list-style:none;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid $burgundy;
}

.tracklist li {
  padding-bottom: 10px;
  padding-top: 10px;
  border: none;
}