@import "colours.scss";

/* Homepage */

.homepage-nav {
	text-align: center;
}

.homepage-subtitle {
	color: white;
	margin-top: -20px;
}

.homepage-link {
	padding-left: 50px;
	padding-right: 50px;
}

.splash-brahms {
	margin-top: -20px;
	width: 100%;
	height: 125px;
	z-index: -1000;
	position: absolute;
	background-image: image-url("brahms.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.hackity-hack {
	height: 100px;
}

.splash-bio {
	text-align: bottom;
}

.splash-portrait {
	text-align: right;
}

.homepage-links {
	padding-bottom: 25px;
}

.homepage-gallery {
	background-color: black;
	padding-top: 25px;
}

.gallery-view-link {
	text-align: right;
	color: white;
}
