@import "colours.scss";

/* Homepage */

.homepage-nav {
	text-align: center;
}

.homepage-link {
	padding-left: 50px;
	padding-right: 50px;
}

.splash-cinnabar {
	width: 100%;
	height: 125px;
	z-index: -1000;
	position: absolute;
	background-image: image-url("brahms.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.splash-bio {
	text-align: bottom;
}

.gallery-preview {
	border-top: 1px solid $burgundy;
	padding-top: 50px;
	li {
		display: inline;
	}
}

.picture-preview {
	margin-left: 0;
	line-height: 170px;
}

.gallery-view-link {
text-align: right;
}

.thumbnail-picture {
	padding-right: 20px;
}