<footer class="footer">
  <b><%= link_to "Raymond Cohen's personal website", '#', class: "footer-title" %></b>
  <nav>
    <ul class="footer-main-nav">
      <li><%= link_to "Help", '#' %></li>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>