<footer class="footer">
<div class="container container-footer">
  <b><%= link_to "Raymond Cohen's personal website", '#', class: "footer-title" %></b>
  <nav>
    <ul class="footer-main-nav">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</div>
</footer>
