<header class="navbar wide-section header-nav">
  	<div class="container container-header">
  		<%= link_to "Raymond Cohen", root_path, id: 'logo' %>
		<ul class="nav pull-right">
		    <li><%= link_to "Life",  biography_path %></li>
		    <li><%= link_to "Music", music_path %></li>
		    <li><%= link_to "Gallery", gallery_path %></li>
		</ul>
	</div>
</header>