<div class="wide-section player">
	<div class="container">
		<audio controls="controls" ><source src="<%= @song.track.url %>" type="audio/mpeg"></audio>
		<p>Now playing: <span class=""><%= @song.title %> from <%= @song.album.name %></span></p>
	</div>
</div>